Package: libnftnl-dev
Source: libnftnl
Version: 1.1.2-2
Architecture: amd64
Maintainer: Debian Netfilter Packaging Team <pkg-netfilter-team@lists.alioth.debian.org>
Installed-Size: 67
Depends: libnftnl11 (= 1.1.2-2), pkg-config
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://git.netfilter.org/libnftnl
Description: Development files for libnftnl
 libnftnl is the low-level library for Netfilter 4th generation
 framework nftables.
 .
 Is the user-space library for low-level interaction with
 nftables Netlink's API over libmnl.
 .
 This package provides development files and static libraries.
